In [1]:
%pylab inline

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
import sys
sys.path.append('/Users/barry/CodeAcademy/Ideal_dataset/coding/API/')

In [3]:
import numpy as np
import pandas as pd

from IdealDataInterface import IdealDataInterface

### Specify the folder where your sensor data is

In [4]:
folder_path = '/Users/barry/CodeAcademy/Ideal_dataset/room_and_appliance_sensors/sensordata'
ideal = IdealDataInterface(folder_path)

Found entries for 4824 sensor readings.

We have 255 houses

In [29]:
from IdealMetadataInterface import IdealMetadataInterface
folder_path2 = '/Users/barry/CodeAcademy/Ideal_dataset/metadata_and_surveys/metadata'
metadata = IdealMetadataInterface(folder_path2)
full_list = metadata.metadata.homes['home']
enhanced_houses = list(full_list[full_list.install_type == 'enhanced'].homeid)

61
62
63
65
73
90
96
106
105
136
128
139
140
145
146
168
169
171
162
175
208
212
225
228
227
231
238
242
249
255
262
264
263
266
268
259
276
311
328

,homeid,install_type,location,residents,starttime,starttime_enhanced,endtime,cohortid,income_band,study_class,...,urban_rural_name,build_era,new_build_year,smart_monitors,smart_automation,occupied_days,occupied_nights,entry_floor,outdoor_space,outdoor_drying
0,47,standard,Edinburgh,2,10/08/2016 00:00,NaN,08/05/2017 09:00,treatment_20170315,Missing,treatment,...,Large Urban Areas,1900-1918,NaN,Don't own,Don't own,2,7,3rd,No,NaN

In [25]:
enhanced_houses = full_list[full_list.install_type == 'enhanced'].homeid

In [26]:
print(len(enhanced_houses))

39

In [6]:
ideal.view().subtype.unique()

array(['radiator-output', 'humidity', 'temperature', 'microwave',
       'radiator-input', 'kettle', 'fridgefreezer', 'washingmachine',
       'light', 'sink', 'washingmachinetumbledrier', 'vacuumcleaner',
       'tumbledrier', 'toaster', 'other', 'dehumidifier', 'appliance',
       'fridge', 'dishwasher', 'bath', 'electricheater', 'freezer',
       'shower', 'oven', 'grill', 'electricoven'], dtype=object)

In [7]:
ideal.view(homeid = 311)

   homeid roomid   room_type            category          subtype sensorid
0     311   2856     bedroom           tempprobe  radiator-output    31396
1     311   2855     bedroom                room         humidity    20119
2     311   2853  livingroom           tempprobe   radiator-input    31381
3     311   2856     bedroom                room      temperature    20125
4     311   2854    bathroom           tempprobe   radiator-input    31402
5     311   2857     kitchen           tempprobe  radiator-output    31409
6     311   2852     bedroom           tempprobe  radiator-output    31422
7     311   2856     bedroom           tempprobe   radiator-input    31395
8     311   2857     kitchen  electric-appliance           kettle    31432
9     311   2854    bathroom                room      temperature    20115
10    311   2851        hall                room      temperature    20106
11    311   2856     bedroom                room         humidity    20124
12    311   2851        hall           tempprobe   radiator-input    31389
13    311   2854    bathroom           tempprobe             sink    31428
14    311   2852     bedroom                room      temperature    20109
15    311   2857     kitchen  electric-appliance          toaster    31433
16    311   2851        hall           tempprobe  radiator-output    31388
17    311   2857     kitchen                room         humidity    20129
18    311   2857     kitchen           tempprobe   radiator-input    31408
19    311   2854    bathroom           tempprobe  radiator-output    31403
20    311   2857     kitchen  electric-appliance    vacuumcleaner    31438
21    311   2854    bathroom                room         humidity    20114
22    311   2855     bedroom                room      temperature    20120
23    311   2853  livingroom                room         humidity    20111
24    311   2857     kitchen  electric-appliance       dishwasher    31437
25    311   2853  livingroom           tempprobe  radiator-output    31382
26    311   2852     bedroom                room         humidity    20108
27    311   2853  livingroom                room      temperature    20112
28    311   2851        hall                room         humidity    20105
29    311   2857     kitchen  electric-appliance   washingmachine    31435
30    311   2852     bedroom           tempprobe   radiator-input    31421
31    311   2857     kitchen                room      temperature    20130
32    311   2857     kitchen           tempprobe             sink    31415
33    311   2857     kitchen  electric-appliance    fridgefreezer    31431

In [8]:
house_311 = ideal.get(homeid = 311)

In [9]:
ideal.get(sensorid=31415)[0]['readings'].reset_index()

                      time  sink
0      2018-06-05 12:59:34   363
1      2018-06-05 12:59:46   368
2      2018-06-05 12:59:58   370
3      2018-06-05 13:00:10   373
4      2018-06-05 13:00:22   373
...                    ...   ...
115151 2018-06-30 23:59:10   245
115152 2018-06-30 23:59:22   245
115153 2018-06-30 23:59:34   245
115154 2018-06-30 23:59:46   245
115155 2018-06-30 23:59:58   245

[115156 rows x 2 columns]